/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
///
@import "../../../global-styles/styles/colors.scss";

.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .card {
    width: 343px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px 24px 16px;
    background-color: $white;

    &__image-container {
      background-image: url("/public/images/image_mobile.jpg");
      background-position: center;
      background-size: cover;
      width: 344px;
      height: 188px;
      border-radius: 16px 16px 0 0;
    }

    &__title {
      font-size: 1.5rem;
      line-height: 32.78px;
      color: $text-black;
      margin-top: 40px;
    }

    &__description {
      text-align: center;
      font-size: 0.875rem;
      font-weight: 500;
      font-style: normal;
      line-height: 22.4px;
      letter-spacing: -0.01em;
      color: $text-gray;
      margin-top: 16px;
    }

    &__details {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 16px 24px 16px 20px;
      background-color: $background-details;
      border-radius: 16px;
      width: 100%;

      margin-top: 32px;

      &-icon {
        width: 24px;
      }

      &-divider {
        margin-left: 20px;
        flex: 1;
        max-width: 1px;
        height: 43px;
        border-left: 1px solid $divider;
      }

      &-description {
        margin-left: 24px;
      }
      &-title {
        font-size: 1rem;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 2px;
      }

      &-price {
        font-size: 0.75rem;
        color: $text-gray;
        font-weight: 500;
        line-height: 19.2px;
      }

      &-link {
        margin-left: auto;
        color: $text-claret;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 22px;
      }
    }

    &__link-confirm {
      font-size: 1rem;
      font-weight: 700;
      line-height: 26px;
      width: 100%;
      letter-spacing: -0.01em;
      text-decoration: none;

      padding: 15px 79px;
      background-color: $text-claret;

      color: $white;
      border: none;

      border-radius: 16px;
      transition: background-color 0.3s;
      margin-top: 32px;
      text-align: center;

      &:hover {
        background-color: $background-hover;
      }
    }

    &__link-cancel {
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 22px;

      margin-top: 20px;
      color: $black;

      letter-spacing: -0.01em;
    }
  }
}

@media (min-width: 1024px) {
  .home-page {
    .card {
      width: 460px;
      padding: 0 16px 32px 16px;

      &__image-container {
        background-image: url("/public/images/image.jpg");
        width: 460px;
        height: 232px;
      }

      &__title {
        margin-top: 32px;
        font-size: 2rem;
        line-height: 43.71px;
      }

      &__description {
        font-size: 1rem;
        line-height: 25.6px;
        width: 349px;
      }

      &__details {
        margin-top: 40px;
        padding: 17px 32px;

        &-divider {
          height: 51px;
          margin-left: 32px;
        }

        &-description {
          margin-left: 32px;
        }

        &-title {
          font-size: 1.125rem;
          line-height: 24.59px;
        }

        &-price {
          font-size: 14px;
          line-height: 22.4px;
        }

        &-link {
          font-size: 1rem;
          line-height: 25.6px;
        }
      }

      &__link-cancel {
        font-size: 1rem;
        line-height: 25.6px;
      }
    }
  }
}
